<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827665156826-nsluordle0v6g0ghpio70qhfkc2ts14p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827665156826-nsluordle0v6g0ghpio70qhfkc2ts14p</string>
	<key>API_KEY</key>
	<string>AIzaSyA33TXADzofZlumXozAt1GDY8_3LATjViM</string>
	<key>GCM_SENDER_ID</key>
	<string>827665156826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dima-kryshtal.LetsMeet</string>
	<key>PROJECT_ID</key>
	<string>letsmeet-a5641</string>
	<key>STORAGE_BUCKET</key>
	<string>letsmeet-a5641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827665156826:ios:7323faee9e44a2b320b3e3</string>
</dict>
</plist>